@import url("../css/base.css");
@import url("../css/queries.css");

input[type="text"] {
    width: 100% !important;
};

.mainTitle{
  text-align: center;
};


a span {
  position: relative;
  z-index: 3;
};
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
};
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
};

.txt {
  font-size: 14px;
  line-height: 1.45;
};

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
};
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
};

tr td:hover svg {
	left: 12%;
};
